In [1]:
#!pip install tabula-py

In [2]:
from tabula import read_pdf
import pandas as pd

In [3]:
deputados_mes = [
    ['Janeiro', '01',
        ['ADERLANIA NORONHA', 'AGENOR NETO', 'ANTONIO GRANJA', 'AUDIC MOTA', 'AUGUSTA BRITO', 'BETHROSE',
         'BRUNO GONCALVES', 'BRUNO PEDROSA', 'CAPITAO WAGNER', 'CARLOS FELIPE', 'CARLOS MATOS', 'DANNIEL OLIVEIRA',
         'DAVID DURAND', 'DEDE TEIXEIRA', 'DR. SARTO', 'DRA SILVANA', 'ELMANO', 'ELY AGUIAR', 'EVANDRO LEITAO',
         'FERNANDA PESSOA', 'FERNANDO HUGO', 'FERREIRA ARAGAO', 'GONY ARRUDA', 'HEITOR FERRER', 'JEOVA MOTA',
         'JOAO JAIME', 'JOAQUIM NORONHA', 'JOSE ALBUQUERQUE', 'JULINHO', 'LEONARDO ARAUJO', 'LEONARDO PINHEIRO',
         'LUCILVIO GIRAO', 'MANOEL DUCA', 'MARIO HELIO', 'MIRIAN SOBREIRA', 'MOISES BRAZ', 'ODILON AGUIAR',
         'OSMAR BAQUIT', 'RACHEL MARQUES', 'RENATO ROSENO', 'ROBERIO MONTEIRO', 'ROBERTO MESQUITA', 'SERGIO AGUIAR',
         'TIN GOMES', 'TOMAZ HOLANDA', 'WALTER CAVALCANTE']],
    ['Fevereiro', '02',
        ['ACRÍSIO SENA', 'ADERLANIA NORONHA', 'AGENOR NETO', 'ANDRE FERNANDES', 'ANTONIO GRANJA',
          'AP. LUIZ HENRIQUE', 'AUDIC MOTA', 'AUGUSTA BRITO', 'BETHROSE', 'BRUNO GONCALVES',
          'BRUNO PEDROSA', 'CAPITAO WAGNER', 'CARLOS FELIPE', 'CARLOS MATOS', 'DANNIEL OLIVEIRA',
          'DAVID DURAND', 'DEDE TEIXEIRA', 'DELEGADO CAVALCANTE', 'DR. SARTO', 'DRA SILVANA', 'ELMANO',
          'ELY AGUIAR', 'ERIKA AMORIM', 'EVANDRO LEITAO', 'FERNANDA PESSOA', 'FERNANDO HUGO',
          'FERNANDO SANTANA', 'FERREIRA ARAGAO', 'GONY ARRUDA', 'GUILHERME LANDIM', 'HEITOR FERRER',
          'JEOVA MOTA', 'JOAO JAIME', 'JOSE ALBUQUERQUE', 'JULINHO', 'LEONARDO ARAUJO', 'LEONARDO PINHEIRO',
          'LUCILVIO GIRAO', 'MANOEL DUCA', 'MARCOS SOBREIRA', 'MARIO HELIO', 'MIRIAN SOBREIRA',
          'MOISES BRAZ', 'NELINHO', 'NEZINHO FARIAS', 'NIZO COSTA', 'ODILON AGUIAR', 'OSMAR BAQUIT',
          'PATRICIA AGUIAR', 'QUEIROZ FILHO', 'RACHEL MARQUES', 'RENATO ROSENO', 'ROBERIO MONTEIRO',
          'ROMEU ALDIGUERI', 'SERGIO AGUIAR', 'SOLDADO NOELIO', 'TIN GOMES', 'TOMAZ HOLANDA', 'VITOR VALIM',
          'WALTER CAVALCANTE']],
    ['Março', '03',
         ['ACRÍSIO SENA', 'ADERLANIA NORONHA', 'AGENOR NETO', 'ANDRE FERNANDES', 'ANTONIO GRANJA', 'AP. LUIZ HENRIQUE',
          'AUDIC MOTA', 'AUGUSTA BRITO', 'BRUNO GONCALVES', 'BRUNO PEDROSA', 'CARLOS FELIPE', 'DANNIEL OLIVEIRA',
          'DAVID DURAND', 'DELEGADO CAVALCANTE', 'DR. SARTO', 'DRA SILVANA', 'ELMANO', 'ERIKA AMORIM', 'EVANDRO LEITAO',
          'FERNANDA PESSOA', 'FERNANDO HUGO', 'FERNANDO SANTANA', 'GONY ARRUDA', 'GUILHERME LANDIM', 'HEITOR FERRER',
          'JEOVA MOTA', 'JOAO JAIME', 'JOSE ALBUQUERQUE', 'JULINHO', 'LEONARDO ARAUJO', 'LEONARDO PINHEIRO',
          'LUCILVIO GIRAO', 'MANOEL DUCA', 'MARCOS SOBREIRA', 'MIRIAN SOBREIRA', 'MOISES BRAZ', 'NELINHO', 'NEZINHO FARIAS',
          'NIZO COSTA', 'ODILON AGUIAR', 'OSMAR BAQUIT', 'PATRICIA AGUIAR', 'QUEIROZ FILHO', 'RENATO ROSENO',
          'ROBERIO MONTEIRO', 'ROMEU ALDIGUERI', 'SERGIO AGUIAR', 'SOLDADO NOELIO', 'TIN GOMES', 'VITOR VALIM',
          'WALTER CAVALCANTE']],
    ['Abril', '04',
        ['ACRÍSIO SENA', 'ADERLANIA NORONHA', 'AGENOR NETO', 'ANDRE FERNANDES', 'ANTONIO GRANJA', 'AP. LUIZ HENRIQUE',
         'AUDIC MOTA', 'AUGUSTA BRITO', 'BRUNO GONCALVES', 'BRUNO PEDROSA', 'CARLOS FELIPE', 'DANNIEL OLIVEIRA',
         'DAVID DURAND', 'DELEGADO CAVALCANTE', 'DR. SARTO', 'DRA SILVANA', 'ELMANO', 'ERIKA AMORIM', 'EVANDRO LEITAO',
         'FERNANDA PESSOA', 'FERNANDO HUGO', 'FERNANDO SANTANA', 'GUILHERME LANDIM', 'HEITOR FERRER', 'JEOVA MOTA',
         'JOAO JAIME', 'JÚLIOCÉSAR FILHO', 'LEONARDO ARAUJO', 'LEONARDO PINHEIRO', 'LUCILVIO GIRAO', 'MANOEL DUCA',
         'MARCOS SOBREIRA', 'MOISES BRAZ', 'NELINHO', 'NEZINHO FARIAS', 'NIZO COSTA', 'OSMAR BAQUIT', 'PATRICIA AGUIAR',
         'QUEIROZ FILHO', 'RENATO ROSENO', 'ROBERIO MONTEIRO', 'ROMEU ALDIGUERI', 'SALMITO', 'SERGIO AGUIAR',
         'SOLDADO NOELIO', 'TIN GOMES', 'VITOR VALIM', 'WALTER CAVALCANTE']]
]

In [4]:
tabela = read_pdf(f"PDFs/2019/Janeiro/ADERLANIA NORONHA.pdf", pages='all')

In [5]:
df = pd.DataFrame(tabela[0])

In [6]:
df['Mes'] = 'Janeiro'

In [7]:
erros = []
df_geral = pd.DataFrame()
for mes in deputados_mes:
    str_mes = mes[0]
    num_mes = mes[1]
    deputados = mes[2]
    for deputado in deputados:
        deputado_rep = deputado.replace(' ', '+')
        tabela = read_pdf(f"PDFs/2019/{deputado}/{deputado_rep+'_2019'+str_mes}.pdf", pages='all')
        if len(tabela) != 0:
            df = pd.DataFrame(tabela[0])
            df = df.drop(df.index[-1])
            #df = df.pivot(columns='Descrição', values='Valor')
            df['Deputado'] = deputado
            df['Data'] = f'01/{num_mes}/2019'
            df_geral = pd.concat([df_geral, df])
        else:
            erros.append([str_mes, deputado])

In [8]:
#df_geral.to_json('test.json', orient='table')

In [9]:
df_geral.reset_index(inplace=True)

In [10]:
df_geral.drop('index', axis=1, inplace=True)

In [11]:
df_geral

,Descrição,Valor,Deputado,Data
0,Combustíveis e Lubrificantes Automotivos,"6.000,00",ADERLANIA NORONHA,01/01/2019
1,Vale-Refeição e Vale-Alimentação,"5.000,00",ADERLANIA NORONHA,01/01/2019
2,Combustíveis e Lubrificantes Automotivos,"6.000,00",AUDIC MOTA,01/01/2019
3,Divulgação das Atividades Parlamentares,"4.100,00",AUDIC MOTA,01/01/2019
4,Seguros em Geral,"504,04",AUDIC MOTA,01/01/2019
...,...,...,...,...
871,Seguros em Geral,"1.453,18",WALTER CAVALCANTE,01/04/2019
872,Serviços Técnicos Profissionais,"3.960,00",WALTER CAVALCANTE,01/04/2019
873,Serviços de Comunicação em Geral,"2.087,79",WALTER CAVALCANTE,01/04/2019
874,Serviços de Telecomunicações - Pacote de Dados,"292,53",WALTER CAVALCANTE,01/04/2019
875,Vale-Refeição e Vale-Alimentação,"4.000,00",WALTER CAVALCANTE,01/04/2019